<style>
  .overlay{
    opacity:1;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}
h2 {
  font-size: 2em;
  line-height: 40px;
}
p {
  font-size: 1em;
  line-height: 24px
}
</style>
  
    <%= stylesheet_link_tag 'component' %>
    <%= stylesheet_link_tag 'normalize' %>
    <%= stylesheet_link_tag 'hover' %>

  <body id="website" class="" style="display: block;min-width: 960px" data-hijacking="off" data-animation="scaleDown">
  <div id="preloader" class="overlay" style="z-index:9999; display:block; background-color: white">
    
  </div>

      <header id="ha-header" class="ha-header">
        <div class="ha-header-perspective">
          <div class="ha-header-front">
            <h1><span><%= image_tag "CA Logo.png", id: 'logoOnHeader', class: 'animated fadeInUp', style: 'top: -5px;height: 60px;position: relative;display: none'%></span></h1>
            <nav id="navLi">
      <a style="cursor: pointer" id="aboutFromNav">About</a>
      <a style="cursor: pointer" id="projectsFromNav">Projects</a>
      <a style="cursor: pointer" id="educationFromNav">Education</a>
      <a style="cursor: pointer" id="skillsFromNav">Skills</a>
      <a style="cursor: pointer" id="contactFromNav">Contact</a>
            </nav>
          </div>
          <!-- <div class="ha-header-bottom">
            <nav>
              <a>Dalliance</a>
              <a>Inglenook</a>
              <a>Lagniappe</a>
              <a>Mellifluous</a>
              <a>Erstwhile</a>
              <a>Wafture</a>
              <a>Serendipity</a>
              <a>Love</a>
            </nav>
          </div> -->
        </div>
      </header>



    <!-- BEGIN NAVBAR -->
<!--     <header id="ha-header" class="ha-header ha-header-subshow animated fadeInUp" style="z-index: 8888; display: none">
      <a href="" style="height: 0px">


      </a>

    </header> -->
    <!-- END NAVBAR -->

    <div class="container">

      <!-- HEADER -->
      <div class="jumbotron" id="jumbotron" style="background-image: url('<%= asset_path 'bg.jpg' %>'); background-size: 100% 100%">

        <div class="jumbotron-text">

<!-- <%= image_tag "self_thumbnail.jpg", class: 'animated fadeIn', style: "border-radius: 100px; filter: grayscale(100%);" %> -->
<%= image_tag "CA Logo.png",class: 'logo animated fadeIn', style: 'position: relative;display:none'%>

  
          <h1 id="jumbotronFullName" class="fullName">Carlos Almonte</h1>
          <p id="jumbotronFullTitleAndLocation" class="animated fadeInDown">Full-Stack<a style="cursor: default">
    Web Developer</a> in New York, USA.</p>
        </div>
        <div class="jumbotron-social">
          <ul class="ul-social">
            <li class="li-social-links">
              <a class="social" href="https://github.com/dhakle" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            </li>
            <li class="li-social-links">
              <a class="social" href="https://linkedin.com/in/carlos-almonte-177a18aa/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
        <div id="down-arrow">
          <span><a id="aboutFromJumbotron" style="cursor: pointer"><i class="fa fa-chevron-down" aria-hidden="true"></i></a></span>
        </div>
      </div>
      <!-- END HEADER -->



      <!-- BEGIN ABOUT -->
      <section id="about" class="ha-waypoint" data-animate-down="ha-header-small" data-animate-up="ha-header-shrink">
      <div class="row box-shadow" style="background-color: white" >
        <div class="side-content"></div>
        <div class="main-content">
          <div class="content-header">
            <a class="anchor" name="about"></a>
            <h2>About</h2>
          </div>
          <div class="content-body" style="color: black">
            <p style="text-align: left">Academic and career background in Clinical Nutrition, passion and intermediate knowledge of Software/Web Development, using mainly Ruby on Rails but also familiar with Node JS. browsing the industry, firmly determined to make a career change into the field.</p>
            <p style="text-align: left">High preference for Object Oriented backends and intuitive frontends with responsive designs. I am also experienced on SQLite, PostgreSQL and CRUD functionalities overall. Deployments made with Github for version control and Heroku as host. </p>
            <p style="text-align: left"></p>
          </div>
        </div>
        <div class="side-content"></div>
      </div>
      </section>
      <!-- END ABOUT -->
      
<!-- BEGIN PROJECTS -->
      <section id="projects" class="ha-waypoint" data-animate-down="ha-header-small" data-animate-up="ha-header-shrink">
      <div class="row">
        <div class="side-content"></div>
        <div class="main-content">
          <div class="content-header">
            <a class="anchor" name="projects"></a>
            <h2>Projects</h2>
          </div>
          <div class="content-body">
            <!-- CARD #1 -->
            <div class="project-card hvr-glow" style="width: 100%">
              <div class="project-image project1" style="float: left;width: 40%;" >
<%= image_tag "ezgif-1-b329556bfd.jpg",style: "width: 100%" %>
              </div>
              <div class="project-content" style="display: block;width: 100%;position: relative; left: 23px">
                <h4>Dietitian.Help</h4>
                <p>Electronic Medical Records (EMR) designed specifically for Dietitians and other healthcare providers looking to ease the Medical Nutrition Therapy process.</p>
                <a href="http://dietitian.help" target="_blank">Dietitian.Help</a>
              </div>
            </div>
            <!-- CARD #2 -->
            <div class="project-card hvr-glow" style="width: 100%">
              <div class="project-content" style="display: inline-block;position: relative;width: 60%">
                <h4>Nostalgia Experience</h4>
                <p>Web app for music group "Nostalgia."</p>
                <a href="http://wearenostalgia.xyz"target="_blank">WeareNostalgia.xyz</a>
              </div>
              <div class="project-image" style="float: right;width: 40%" >
<%= image_tag "ezgif-1-af57977208.jpg",class: 'project2', style: "width: 100%" %>
              </div>
            </div>
          </div>
        </div>
        <div class="side-content"></div>
      </div>
      </section>
      <!-- END PROJECTS -->

      <!-- BEGIN EPERIENCE -->

   <!--   
      <section id="experience" class="ha-waypoint" data-animate-down="ha-header-small" data-animate-up="ha-header-shrink">
      <div class="row">
        <div class="side-content"></div>
        <div class="main-content">
          <div class="content-header">
            <a class="anchor" name="experience"></a>
            <h2>Experience</h2>
          </div>
          <!-- CARD #1 -->

          <!--
          <div class="content-body">
            <div class="card hvr-glow" style="width: 100%">
              <div class="card-header">
                <h4>Grand Manor Nursing Home  —  April 2016 - Present<span class="job-title">Dietitian</span></h4>
              </div>
              <div class="card-content">
                <p>
- Create diet recommendations based on diagnosis, labs and other pathological status. <br>
- Perform admission assessments to determine appropriate goals, interventions and recommendations.
- Perform follow up assessments to monitor resident's nutritional status during stay. <br>
- Educate residents and staff on food choices according to diagnosis. <br>
- Document appropriate information in medical record according to government agencies’ standards. <br>
- Monitor pressure ulcers, significant weight changes and tube feeding parameters.</p>
              </div>
            </div>

          <!-- CARD #2 -->

          <!--

            <div class="card hvr-glow" style="width: 100%">
              <div class="card-header">
                <h4>Delta Air Lines  —  July 2016 - Present <span class="job-title">Airport Customer Service Agent</span></h4>
              </div>
              <div class="card-content">
                <p>
- Inform passengers of flight schedules and baggage booking procedures. <br>
- Resolve passengers’ issues regarding flight changes and seating arrangements. <br>
- Rebook passengers as needed. <br>
- Inspect and accept check-in luggages. <br>
- Coordinate with management to have passengers accommodated when required. <br>
- Make sure all check-in luggages comply with the Airport's and Airline's regulations.</p>
              </div>
            </div>

          <!-- CARD #3 -->

<!--
            <div class="card hvr-glow" style="width: 100%">
              <div class="card-header">
                <h4>ASIG  —  February 2016 - July 2016<span class="job-title">Airport Customer Service Agent</span></h4>
              </div>
              <div class="card-content">
                <p>
- Made sure passengers met all destination's travel requirements during check-in process. <br>
- Informed passengers of flight schedules and baggage booking procedures. <br>
- Resolve passengers’ issues regarding flight changes and seating arrangements. <br>
- Made sure all check in luggages complied with the Airport's and Airline's regulations. <br>
- Assisted during boarding process to ensure on time departure.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="side-content"></div>
      </div>
      </section>
      <!-- END EXPERIENCE -->



      <!-- BEGIN EDUCATION -->
      <section id="education" class="ha-waypoint">
      <div class="row white box-shadow">
        <div class="side-content"></div>
        <div class="main-content">
          <div class="content-header">
            <a class="anchor" name="education"></a>
            <h2>Education</h2>
          </div>
          <div class="content-body">

            <!-- EDUCATION 1 -->
            <div class="card hvr-glow" style="width: 100%" style="background-color: white">
              <div class="card-header">
                <h4>Lehman College <span class="job-title">2012 - 2016</span></h4>
              </div>
              <div class="card-content">
                <p>Bachelors of Science in Dietetics, Foods and Nutrition. <br></p>
              </div>
            </div>
          </div>
        </div>
        <div class="side-content"></div>
      </div>
      </section>
      <!-- END EDUCATION -->

      

      <!-- BEGIN SKILLS -->
      <section id="skills" class="ha-waypoint">
      <div class="row white box-shadow">
        <div class="side-content"></div>
        <div class="main-content">
          <div class="content-header">
            <a class="anchor" name="skills"></a>
            <h2>Skills</h2>
          </div>
          <div class="content-body">
            <ul class="ul-skills">
              <li class="li-skills hvr-glow">Ruby</li>
              <li class="li-skills hvr-glow">Ruby on Rails</li>
              <li class="li-skills hvr-glow">HTML</li>
              <li class="li-skills hvr-glow">CSS</li>
              <li class="li-skills hvr-glow">Javascript</li>
              <li class="li-skills hvr-glow">JQuery</li>
              <li class="li-skills hvr-glow">AJAX</li>
              <li class="li-skills hvr-glow">jQuery</li>
              <li class="li-skills hvr-glow">Bootstrap</li>
            </ul>
          </div>
        </div>
        <div class="side-content"></div>
      </div>
      </section>
      <!-- END SKILLS -->

      <!-- BEGIN CONTACT -->
<section id="contact" class="cd-section">
      <div class="row dark-gray">
        <div class="side-content"></div>
        <div class="main-content">
          <div class="content-header">
            <a class="anchor" name="contact"></a>
            <h2 class="white-text">Contact Me</h2>
          </div>
          <div class="contact content-body">
            <form method="POST" action="https://formspree.io/c.darioalmonte@gmail.com">
                <input type="hidden" name="_subject" value="Contact request from personal website" />
                <input type="email" name="_replyto" placeholder="Your email" required>
                <textarea name="message" placeholder="Your message" required></textarea>
                <button type="submit">Send</button>
            </form>
          </div>
        </div>
        <div class="side-content"></div>
      </div>
      </section>
      <!-- END CONTACT -->

      <!-- BEGIN FOOTER -->
      <div class="row">
        <div class="side-content"></div>
        <div class="main-content">
          <div class="content-header">
          </div>
          <div class="content-body footer">
            <p>Copyright&copy; Carlos Almonte 2017</p>
          </div>
        </div>
        <div class="side-content"></div>
      </div>
      <!-- END FOOTER -->

    </div>
  </body>
    <%= javascript_include_tag 'modernizr.custom' %>
    <%= javascript_include_tag 'waypoints.min' %>


  <script>


  // TYPING EFFECT FOR FULL NAME ON JUMBOTRON
  // $("#jumbotronFullName").typed({
  // strings: ['carlos almonte'],
  // typeSpeed: 4,
  // startDelay: 100,
  // cursorChar: "",
  // });

$("#aboutFromNav").click(function() {
    $('html, body').animate({
        scrollTop: $("#about").offset().top - 25
    }, 400);
});

$("#aboutFromJumbotron").click(function() {
    $('html, body').animate({
        scrollTop: $("#about").offset().top - 25
    }, 400);
});

$("#experienceFromNav").click(function() {
    $('html, body').animate({
        scrollTop: $("#experience").offset().top - 25
    }, 400);
});

$("#educationFromNav").click(function() {
    $('html, body').animate({
        scrollTop: $("#education").offset().top - 25
    }, 400);
});

$("#projectsFromNav").click(function() {
    $('html, body').animate({
        scrollTop: $("#projects").offset().top - 25
    }, 400);
});

$("#skillsFromNav").click(function() {
    $('html, body').animate({
        scrollTop: $("#skills").offset().top - 25
    }, 400);
});

$("#contactFromNav").click(function() {
    $('html, body').animate({
        scrollTop: $("#contact").offset().top - 25
    }, 400);
});

 window.onload = function() {
  if($(window).scrollTop() < 384){
          $('.ha-header').delay(400).addClass('ha-header-shrink');
      }
  $('#preloader').delay(100).fadeOut("slow");
  $('.ha-header').delay(400).css('display', '');
  $('.logo').delay(400).css('display', '');
  $('#jumbotronFullTitleAndLocation').delay(400).css('display', '');


  // PNG TO GIF (ANIMATES PICTURES ON HOVER)
    $("#project1").hover(
        function()
        {
          var src = $(this).attr("src");
          $(this).attr("src", '/assets/ezgif-1-b329556bfd-5f572dc96e85c6cd0ed34764dc5197195b6ec9995d501579d3cd09045d93b188.gif');
        },
        function()
        {
          var src = $(this).attr("src");
          $(this).attr("src", '/assets/ezgif-1-b329556bfd-00794f1f40b1c2804ff249ccea95a5be8de7034fc3482c2b6d96198734aaf775.jpg');
        });
    $("#project2").hover(
        function()
        {
          var src = $(this).attr("src");
          $(this).attr("src", '/assets/ezgif-1-af57977208-7f9296b91a58a6b76ee63b14a6f423e7bd7fcfc2a7831f538f932d8e57752409.gif');
        },
        function()
        {
          var src = $(this).attr("src");
          $(this).attr("src", '/assets/ezgif-1-af57977208-f0168f9a925cc356bba4c279f8f495c579aa84da0ca83a559f6fad5a0db59101.jpg');
        });

// HIDES LOGO ON NAVBAR IF WINDOW TOO SMALL
    if($(window).width() < 970 && $(window).scrollTop() < 384) {
      $('#logoOnHeader').hide();
    }
    else if($(window).scrollTop() > 384 && $(window).width() > 970 ){
      $('#logoOnHeader').show();
    }
};
var $head = $( '#ha-header' );
      $( '.ha-waypoint' ).each( function(i) {
        var $el = $( this ),
          animClassDown = $el.data( 'animateDown' ),
          animClassUp = $el.data( 'animateUp' );

        $el.waypoint( function( direction ) {
          if( direction === 'down' && animClassDown ) {
            $head.attr('class', 'ha-header ' + animClassDown);
          }
          else if( direction === 'up' && animClassUp ){
            $head.attr('class', 'ha-header ' + animClassUp);
          }
        }, { offset: '100%' } );
      } );
// ON SCROLL EVENT LISTENER FOR LOGO ON NAVBAR
$(window).on( "scroll", function() {
      if($(window).scrollTop() > 384 && $(window).width() > 970) {
        $('#logoOnHeader').show();
        $('#logoOnHeader').removeClass('fadeOutDownBig');
      }
      else if($(window).scrollTop() < 384){
        $('#logoOnHeader').addClass('fadeOutDownBig')
      }
    });

// ON RESIZE EVENT LISTENER FOR LOGO ON NAVBAR

$(window).resize(function() {
      if($(window).scrollTop() > 384 && $(window).width() > 970) {
        $('#logoOnHeader').show();
        $('#logoOnHeader').removeClass('fadeOutDownBig');

      }
      else if($(window).scrollTop() < 384 || $(window).width() < 970){
        $('#logoOnHeader').addClass('fadeOutDownBig')
      }
      if($(window).width() < 970){
                $('#navLi').attr('style', 'margin-top: -15px')

      }
                  if($(window).width() > 970){
                $('#navLi').attr('style', 'margin-top: 0px')

      }
    });

      if($(window).width() < 970){
                $('#navLi').attr('style', 'margin-top: -15px')

      }
// // EVENT LISTENER TO HIDE LOGO FROM NAVBAR IF WIDTH TOO SMALL
// window.onresize = function(event) {
//   console.log('resized')
//     if($(window).width() < 970) {
//       $('#logoOnHeader').addClass('fadeOutDownBig')
//     }
//     else {
//       $('#logoOnHeader').show();
//     }
// };
</script>
</html>
